.*
./digit_recognition/checkpoint
./digit_recognition/data/*
./digit_recognition/logs
./digit_recognition/tmp.*
./digit_recognition/.*
./HousePricesAdvancedRegressionTechniques/data/*
./HousePricesAdvancedRegressionTechniques/*.png
./HousePricesAdvancedRegressionTechniques/.*
./Titanic/data/*
./Titanic/.*
./tf_example/data/*
